@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service Solutions</title>
    <!-- folhas de estilo CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <style>
        body {
            transition: opacity 0.5s ease-in-out;
        }
        .container {
            border-radius: 15px;
            padding: 20px;
        }
        .navbar, .dropdown-menu {
            border-radius: 10px;
        }
        .nav-link {
            transition: background-color 0.3s, color 0.3s;
        }
        .nav-link:hover {
            background-color: rgba(255, 165, 0, 0.7);
            color: white;
            border-radius: 10px;
        }
    </style>
</head>
<body onload="document.body.style.opacity='1'" style="opacity:0;">
    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sistema Service</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="/Home/Index">
                            Página inicial
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Funcionários
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="/Funcionario/CadastroFuncionario">
                                    Cadastrar Funcionário
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="/Funcionario/ConsultaFuncionario">
                                    Consultar Funcionários
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                   href="/RhFuncionario/RelatorioFuncionario">
                                    Relatório de Funcionários
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Empresas
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="/Empresa/CadastroEmpresa">
                                    Cadastrar Empresas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="/Empresa/ConsultaEmpresa">
                                    Consultar Empresas
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                   href="/Empresa/RelatorioEmpresa">
                                    Relatório de Empresas
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <!-- local onde é inserido o conteudo das páginas -->
        @RenderBody()
    </div>
    <!-- arquivos de estensão JS -->
    <script src="~/js/bootstrap.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.style.opacity = "1";
        });
    </script>
</body>
</html>
